<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Invoice</title>
</head>

<body>
	<table border="1">
		<tr>
			<th colspan="2">
				<p>Seller:</p>
				<p>Seller: <span th:text="${invoice.seller}"></span></p>
				<p>GSTIN: <span th:text="${invoice.sellerGstin}"></span></p>
				<p>Address: <span th:text="${invoice.sellerAddress}"></span></p>
			</th>
			<th colspan="2">
				<p>Buyer:</p>
				<p>Buyer: <span th:text="${invoice.buyer}"></span></p>
				<p>GSTIN: <span th:text="${invoice.buyerGstin}"></span></p>
				<p>Address: <span th:text="${invoice.buyerAddress}"></span></p>
			</th>
		</tr>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Rate</th>
			<th>Amount</th>
		</tr>
		<tr th:each="item : ${invoice.items}">
			<td th:text="${item.name}"></td>
			<td th:text="${item.quantity}"></td>
			<td th:text="${item.rate}"></td>
			<td th:text="${item.amount}"></td>
		</tr>
	</table>
</body>

</html>